
body{
background: black;
}
header{
    background-image: url('https://images.clipartlogo.com/files/images/34/344822/bookshelf-vector-illustration-2_f.jpg');
    margin-top: 0%;
    height: 10vh;
}
form{
    width: 50vw;
    height: 50vw;;
    margin-left: 25%;
    background-image: url( 'https://cdn.pixabay.com/photo/2012/05/02/21/11/book-46356_960_720.png');
    background-repeat: no-repeat;
    background-size: 50vw 75vh;
    position: absolute;
    display: none;
    z-index: 1;
}
.form-div{

    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20%;
    margin-left: 15%;
}
h1{
    margin: auto;
    text-align: center;
    color:white;
    margin-top: 2%;
    margin-bottom: 2.5%;
}
.in-form{
    margin-bottom: 10%;
}
#read-group{
    display: flex;
}
#addBook{
    width: 2vw;
    height: 2vw;
    margin-top: -5%;
    margin-left: 5%;
    background: white;
    color: rgb(97, 96, 96);;
    font-size: 2em;
    border: 0px;
    position: fixed;}
#addBook:hover{
    width: 2.1vw;
    height: 2.1vw;
}

  
    input{
        height: 4vh;
    }
       
 
    #submit{
        margin-left: 60%;
        height: 10%;
        width: 20%;
    }
    #submit{
        margin-left: 20%;
        background: skyblue;
    }
    #console{
        display: block;
        background: white;
    }
    .library-book{
      position: absolute; 
    
    }
    #book-container{
        min-height: 90vh;
        max-width: 100vw;
        background :black;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .book-group{
        border-radius: 10%;
        background: white;
        font-size: 200%;
        display: block;  
        width: 20vw;
        margin-left: 5%;
       height: 45vh;
       margin-top:7%;
    }
    .remove-button,  .is-read-btn{
        border-radius: 10%;
        margin-left: 5%;
     height: 5vh;
     background: black;
     color: white;
    }